<div class="container bg-info">
    <h1 style="text-align: center; background-color: rgb(184, 0, 0);">Ita-Veiculos</h1>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://motorshow.com.br/wp-content/uploads/sites/2/2020/02/liquidcarbonfordgt_01.jpeg" class="d-block w-100" alt="imagem do ford gt 2021">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ford GT 2021</h5>
          <p>R$2.499.000,00</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.motor1.com/images/mgl/ppE11/s1/2021-honda-cbr600rr.jpg" class="d-block w-100" alt="imagem da cbr600 2021">
        <div class="carousel-caption d-none d-md-block">
          <h5>Honda CBR600 2021</h5>
          <p>R$299.589,00</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.motor1.com/images/mgl/BXOVNA/s1/4x3/2022-ford-bronco-raptor-exterior-side-view.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ford Bronco Raptor 2022</h5>
          <p>R$589,579,00</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div>
    <ul>
        <li><a href="">Carros</a></li>
        <li><a href="">Motos</a></li>
    </ul>
</div>